/* reset default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header{
      margin-top:0px;
      height:70px;
  }
  /* changes position of navigation bar*/
  .header > .nav {
    display: inline-block;
    width: 100%;
    text-align: left;
    z-index: auto;
  }
  
  /* changes position of cart */
  .header img{
    width: 70px;
    height: 50px;
    display: block;
    position: absolute;
    margin-left: 850px;
    margin-top: -20px;
  }

  /* Bun Bun Bake Shop home logo */
  .home > a{

    position: absolute;
    width: 219px;
    height: 66px;
    left: 610px;
    top: 24px;

    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 15px;
    text-align: center;
    z-index: 300;

    color: #A04057;
    text-decoration: none;

  }


  hr {
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 80px;
    border: 1px solid #000000;
    z-index: 200;
}

  

  /******************************************* */
  /* NOW let us work on the dropdown menus      */
  /******************************************* */
  
  
  
  .header > .nav > li {
    display: inline-block;
    padding: 15px;
    position: relative;
  }
  /* changes properties of entire navigation bar */
  .header > .nav {
    display: inline-block;
    padding: 50px 20px;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    top:-30px;
    right: 0px;
    z-index: 200;
  }

  
  /* highlight top-menu item when mouse is over it */
  .header > .nav > li:hover {
    font-weight: 800;
  }

  /* .header > .nav > li > #cart:hover{
      background-image: "/Users/priyajain/Documents/MHCI/bakeshop_prototype/source/carticonhover.svg";
  } */

  .header > .cart {
    position: absolute;
    width: 79px;
    height: 54px;
    left: 1319px;
    top: 15px;
    background-image: url("/Users/priyajain/Documents/MHCI/bakeshop_prototype/source/cartpic.svg");
    z-index:200;
  }

  .header > .cart:hover {
    width: 76px;
    background-image: url("/Users/priyajain/Documents/MHCI/bakeshop_prototype/source/carticonhover.svg");
  }

  /* Do I want the home logo to bold on hover? */
  /* .home > a:hover {
      font-weight: 700;
  } */
  
 
  
  /* set font and text style of main and sub-menu links */
  .header > .nav > li > a {
    color: #AA0E47;
    font-family: 'Montserrat', sans-serif, 'regular';
    font-weight: lighter;
    text-decoration: none;
    font-size: 110%
  }


  
  /* add code for samller screen */
  @media (max-width: 700px) {
    /* IMPORTANT move dropdown menu back as part of the navigation   */
    .header > .nav {
      position: static;
      width: 100%;
      padding: 0px;
      background-color: white;
    }
  
    .header > .nav > li {
      /* set top-menu item (link and sub-menu) vertically */
      display: block;
      padding: 0px;
  border: 1px solid white;
  border-width: 1px 0px 0px 0px
    color: grey;
    }
  
  
    /* set top-menu link vertically */
    .header > .nav > li > a {
      display: block;
      padding: 16px;
      font-family: sans-serif;
      text-decoration: none;
       text-transform: uppercase;
    }
  
    /* highlight top-menu link when mouse over */
    
 
  }
  
  /*------ Slideshow ------*/
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .slideshow {
    display: block;
    /* width: 100%;
    height: 650px;
    position: relative;
    top: -100px;
    margin-bottom:-100px; */
    overflow: hidden;
    position: absolute;
    width: 1440px;
    height: 611px;
    left: 0px;
    top: 80px; 
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  
  .slide {
    /* display: none;
    width: 100%;
    height: 100%;
    padding: 100px 0px 0px 0px;
    overflow: hidden; */
    display:none;
    position: absolute;
    width: 1440px;
    height: 611px;
    left: 0px;
    top: 0px; 
    overflow: hidden;
    border: 1px solid #000000;
    box-sizing: border-box;
  }   
  
  .slideshow > input {
  /* TODO hide radio button, instead we will use label to check/uncheck it, using display: none; */
  display: none;
  }
  
  .slideshow > input:checked + label + .slide {
  /* TODO only show slide if the radio button in front of it is checked, using :checked selector and display: block; */
    display: block;
  }
  
  .slideshow > label {
  /* TODO use display: inline-block so labels will be side by side and share the row   */
  display: inline-block;
  /* TODO set width and height to be 8px so it looks like a small square button   */
    width: 8px;
    height: 8px;
    
  /* TODO set label position: absolute and use bottom: 140px so they will be placed on top of slides at the bottom part of slideshow  */
  position: absolute;
  bottom: 45px;
  /* TODO set z-index: 100, so it will be on top of the slides instead of behind them   */
    z-index: 100;
  /* make button lightgrey even it has no text content   */
    background-color: lightgrey;
  }
  
  /* highlight checked button */
  .slideshow > input:checked + label {
    background-color: white;
  }
  
  /* set differnt left: value to make labels position horizontally */
  .slideshow > label:nth-of-type(1) {
    left: 60px;
  }
  .slideshow > label:nth-of-type(2) {
  /* TODO set a differnt left value */
  left:40px
  }
  
  /* set video and img inside of slideshow to be 100% high of its parent and hide anything outside of its border */
  .slide video, .slide img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    
  }
  
  /* make the link as a square box */
  .slide > a {
  /* TODO set display: block;   */
  display: block;
  /* TODO make it 104px wide and high   */
  width: 104px;
  height: 104px;
  /* TODO make 14px padding   */
  padding: 14px;
  /* TODO add 5px solid white border   */
   border: 5px solid white;
  /* TODO use absolute position to place it 220px from bottom and 60px from left   */
    position: absolute;
    bottom: 220px;
    left: 60px;
  /* set font and text style   */
    color: white;
    font-family: sans-serif;
    font-size: 120%;
    text-decoration: none;
  }
  
  
    /* button {
        width: 200px;
        height: 70px;
        border-radius: 30px;
        background-color: #A04057;
        font-family:'Montserrat', sans-serif, 'semi-bold';
        color:#FFFFFF;
        font-size: 25px;
        text-align: center;
        cursor: pointer; 
        margin-left: 600px;
        margin-top: -100px;
      } */

.shopFlavorsButton{
position: absolute;
width: 300px;
height: 92px;
left: 563px;
top: 590px;
}